<div class="well well-sm activitydiv" id='{{activity}}'>
	<div class="activityclickdiv">
		<div class = "well-text" id={{activity}}><div class="inline" id="activity">{{activity}}</div>: 
		<div class="inline" id="target">{{goal}}</div> hrs/day
		<button type="button" class="editGoalButton btn btn-default" id='editgoalbtn{{activity}}'>
			<span class="glyphicon glyphicon-pencil"></span>Edit Target</button>
		<div class="goal"></div>
	</div>
</div>
	<div class='container editgoaldiv' id='{{activity}}'>
		<form class ="editgoalform inline" role="form" id="editgoalform{{activity}}">
			<div class=" time form-group col-sm-">
				<label class="control-label" for="text"> How much time do you want to spend on this per day? </label>
				<input type="text"  class="form-control" id="time" placeholder="0.00"></input>
				<a href="#"><button type="button" class="submitGoalButton submitBtn btn">
					<span class="glyphicon glyphicon-ok"></span> Submit</button></a>
			</div>

			<div class = "button-toolbar" role="toolbar">
				<div class=" time form-group btn-group">
					<button type="button" class="cancelButton btn btn-primary btn-small">
						<span class="glyphicon glyphicon-remove"></span> Cancel Editing</button><br>
					<button type="button" class="deleteGoalButton btn btn-primary btn-small">
						<span class="glyphicon glyphicon-trash"></span> Delete Target</button>
				</div>
			</div>
		</form>
	</div>

</div>
<!--<button type="button" class="editGoalButton"><a href="/editindividual">Edit Goal</a></button> -->