{{> header}}

<div class="container">
    <p><em>The app that lets you take control your time!</em></p>

	<div class = 'container' id='message'/></div>
	<div class='container'>
		{{#if activities}}
			{{#each activities}}
			<div class="row activity well well-sm" id="{{activity}}">
					<div class='well-text inline activityname'> {{activity}} </div>
					<div  class='inline' id='timespent'><em> {{hours}} / {{goal}} hrs </em></div>
					<div class="progress">
	  					<div id="progress_bar" class="progress-bar" role="progressbar">
	  						</div>
						</div>
					<div class='inline addhours' >
						<form class ='inline' role='form'> 
							<div class='inline time form-group float-right'>
								<span class="glyphicon glyphicon-time" ></span>
								<a href='#'><span class="glyphicon glyphicon-minus submitBtn" id ='minusBtn'></span></a>
								<input type="text" id="time" maxlength='4' size='4' placeholder='(hrs)'></input>
								<a href='#'><span class="glyphicon glyphicon-plus submitBtn" id='plusBtn'></span></a>
								<input type='hidden' id='hoursspent' value="{{hours}}"/>
							</div> 

							
						</form>
					</div>

			</div>
			{{/each}}
		{{else}}
			<div class ='container'>
				You haven't set any targets! <a href="/editgoals">Edit Targets</a>
			</div>
		{{/if}}
	</div>
</div>


<!--
		<div class = "well-text"> {{activity}} </div>
		<div> {{hours}} / {{goal}} </div>
		<div class='addtimediv'>
			<form> 
				<input type="text" id="time" value="00:00" data-format="hh:mm" class="input-small">
				<a href="#" class="btn btn-mini submitBtn"><i class="icon-plus"></i></a>
			</form>
		</div> 
-->



<!--

	<table class= "table">
		<tr> <th> Activity </th> <th> Today (hrs) </th> <th> Goal (hrs) </th>
		
		{{#each activities}}
		<tr> <td> {{activity}} </td> <td> {{hours}} </td> <td> {{goal}}</td>
		{{/each}}

	</table>
</div>



This is for progress bar if we want to have it displayed next to each item...still need to figure that out. Also want to add "Add activity" Button

				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    <span class="sr-only">60% Complete</span>
				  </div>
				</div>
-->

	<script src="/js/addtime.js"></script>
</html>