{{> header}}

<!--THE POPUP CONFIRMATION DIALOG-->
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Record hours?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to add <label id='numhours'></label> to <label id='activitylabel'></label>></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Record Hours</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="container">

	<div class = 'container' id='message'/></div>

	<div class='container'>
		{{#if activities}}
			{{#each activities}}
			<div class="row activity well well-sm" id="{{activity}}">
					<div class='well-text inline activityname'> {{activity}} </div>
					<div  class='inline' id='timespent'> {{hours}} / {{goal}} hrs </div>
					<div class="progress">
	  					<div id="progress_bar" class="progress-bar" role="progressbar">
	  						</div>
						</div>
					<div class='inline addhours' >
						<form class ='inline' role='form'> 
							<div class='inline time form-group col-sm-'>
								<label class="control-label" for='text'> Record Hours </label> 
								<a href='#'><span class="glyphicon glyphicon-minus submitBtn" id ='minusBtn'></span></a>
								<input type="text" id="time" maxlength='4' size='4' placeholder='0.00'></input>
								<input type='hidden' id='hoursspent' value="{{hours}}"/>
							</div> 

							<a href='#'><span class="glyphicon glyphicon-plus submitBtn" id='plusBtn'></span></a>
						</form>
					</div>

			</div>
			{{/each}}
		{{else}}
			<div class ='container'>
				You haven't set any targets! <a href="/editgoals">Edit Targets</a>
			</div>
		{{/if}}
	</div>
</div>


<!--
		<div class = "well-text"> {{activity}} </div>
		<div> {{hours}} / {{goal}} </div>
		<div class='addtimediv'>
			<form> 
				<input type="text" id="time" value="00:00" data-format="hh:mm" class="input-small">
				<a href="#" class="btn btn-mini submitBtn"><i class="icon-plus"></i></a>
			</form>
		</div> 
-->



<!--

	<table class= "table">
		<tr> <th> Activity </th> <th> Today (hrs) </th> <th> Goal (hrs) </th>
		
		{{#each activities}}
		<tr> <td> {{activity}} </td> <td> {{hours}} </td> <td> {{goal}}</td>
		{{/each}}

	</table>
</div>



This is for progress bar if we want to have it displayed next to each item...still need to figure that out. Also want to add "Add activity" Button

				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    <span class="sr-only">60% Complete</span>
				  </div>
				</div>
-->

	<script src="/js/addtime.js"></script>
</html>